.tile {
  display: inline-flex;
  background-color: #42b842;
}

.grass {
  background-color: #42b842;
}

.rock {
  background-image: url("/tiles/rsz_rock.png");
}

.tree {
  background-image: url("/tiles/rsz_tree.png");
}

.chest {
  background-image: url("/tiles/rsz_chest.png");
}
